*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 20px auto;
}

.main-header{
    height: 130px;
    background-color: rgb(215,	127, 224);
}

.main-container{
   margin: 24px auto;
}

.section,
.section1{
    height: 400px;
}

.section{
    background-color: rgb(223,	214, 134);
}

.section1{
    background-color: rgb(60, 131, 243);
}

.section1::after{
    content: '';
    display: table;
    clear: both; 
} /* clearfix */

.header{
    background-color: rgb(176,	203, 226);
    height: 80px;
    margin: 16px auto;
    width: 100%;
}

.sidebar,
.content{
    height: calc(400px - 112px);
    background-color:  rgb(176,	203, 226);
    float: left; 
}

.sidebar{
   width: calc(20% - 16px);
}

.content{
    width: 60%;
    margin: 0 16px;
}





/* .main-footer{
    height: 50px;
    background-color: rgb(132,	86,	243);
} */

