*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 20px auto;
}

.main-header{
    height: 100px;
    background-color: rgb(215,	127, 224);
}

.main-container{
   margin: 24px auto;
}

.main-container::after{
    content: '';
    display: table;
    clear: both;
}

.section{
    height: 400px;
    background-color: rgb(223,	214, 134);
}

/* .main-footer{
    height: 50px;
    background-color: rgb(132,	86,	243);
} */

